body {
    background: #343434;
}
.About {
    display: flex;
background-image: url("https://www.campusfrance.org/sites/default/files/medias/images/2022-02/Ocean.jpg");
background-repeat: no-repeat;


}
.About > h1 {
    text-align: center;
    font-size: 50px;
    margin: 0px;
    width: 700px;
    height: 800px;
    background-color: #34343480;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(255, 255, 255);
    transition: width 2s;
    left: 0;
}
.About > h1:hover {
    width: 1920px;

    
}
.About > h1:after {
    position: absolute;
    right: 0;
}

@media (max-width: 678px) {
    .About {
        text-align: center;
        background-size:800px;
        height: 500px;
    }
    .Info {
        margin: none;
        padding: none;
        flex-direction:column;
    }

    .About > h1 {
        height: 500px;
        padding-top: 100px;
    }

    .InfoPng > img {
        width: 100%;
        height: auto;
        padding-top: 20px;
        box-shadow: none;
        
    }
  }





  .Info {
      background-color: gray;
    display: flex;
    padding: 20px;
    margin: 25px;

    

  }
  .InfoText {
      padding: 20px;
      color: rgb(247, 247, 247);
      flex: 1;
      background-color: rgb(168, 168, 168);
      border-radius: 20px;

  }
  .InfoPng {
      text-align: center;
    flex: 1;
    border-radius: 10px;
  }
  .InfoPing > img {
    border-radius: 10px;
    box-shadow: 10px 10px rgb(119, 119, 119);
  }
  
